{% extends "template.html" %}

{% block content %}

<div class="about-container">
    <div class="about-me d-flex">
      <div class="about-text-container">
        <p class="about-text mt-4">
          I am currently a senior majoring in <strong><span style="font-weight: bold;"><a
                href="https://ischool.uw.edu/programs/informatics/focus-areas" target="_blank"
                style="color: #39275B;">Informatics</a></span></strong> at the University of Washington, Seattle with a
          focus area in <span style="font-weight: bold;">Software Engineering</span> and <span
            style="font-weight: bold;">Development.</span></p>
        <p class="about-text mt-4">I am passionate about creating innovative and <span
            style="font-weight: bold;">user-friendly</span> software solutions that people can depend on. Through my
          coursework and projects, I have gained experience in various programming languages and I enjoy collaborating
          with others.</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/priya-hariharan-2834271b7/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin mr-2"></i>
          </a>
          <a href="https://github.com/phariharan818" target="_blank"
            rel="noopener noreferrer">
            <i class="fab fa-github mr-2"></i>
          </a>
          <a href="https://drive.google.com/file/d/1_Iqg5rL5iGclxlzvS-MrRnfGXOStK_qt/view?usp=sharing" target="_blank"
            rel="noopener noreferrer">
            <i class="fas fa-file-alt fa-3x mr-2"></i>
          </a>
        </div>
      </div>
      <div class="programming-languages-container">
        <div class="programming-languages-title">
          <h2 style="font-weight: 500;">Technical Skills:</h2>
        </div>
        <div class="programming-languages">
          <div class="languages-row">
            <i class="fab fa-java m-3 skill" title="Java"></i>
            <i class="fab fa-python m-3 skill" title="Python"></i>
            <i class="fab fa-html5 m-3 skill" title="HTML"></i>
          </div>
          <div class="languages-row">
            <i class="fab fa-css3-alt m-3 skill" title="CSS"></i>
            <i class="fab fa-react m-3 skill" title="ReactJS"></i>
            <i class="fab fa-js m-3 skill" title="JavaScript"></i>
          </div>
          <div class="languages-row">
            <i class="fab fa-r-project m-3 skill" title="R"></i>
            <i class="fab fa-git m-3 skill" title="Git"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
