{% extends "template.html" %}

{% block content %}


<h1 class="row hobby-title">In my free time, I enjoy:</h1>

<div class="card-container mt-4">
  <div class="card" style="width: 35rem; padding: 25px;">
    <img src="static\img\book.jpg" class="rounded-md centered-img" alt="book">
    <div class="card-body card-bottom" style="font-size: 19px;">
      <h4 class="card-title text-center"><strong style="font-weight: 500;">Reading</strong></h4>
      <p class="card-text">I try to read at least two books a month: my favorite book right now is the <strong style="font-weight: 500;">Stoic Challenge</strong>, which talks about how to overcome setbacks by treating events one would perceive negatively as positive, or making a "game" out of it.
      </p>
    </div>
  </div>
  <div class="card" style="width: 35rem; padding: 25px; font-size: 19px;">
    <img src="https://cdn.akamai.steamstatic.com/steam/apps/1174180/header.jpg?t=1656615305" class="rounded-md centered-img" alt="rdr2">
    <div class="card-body card-bottom">
      <h4 class="card-title text-center"><strong style="font-weight: 500;">Playing Video Games</strong></h4>
      <p class="card-text">Red Dead Redemption 2 is made by the same developers as GTA V, and it's one of the most incredible games I have ever played - from the storyline to the missions, it's even better than the one that came before it.</p>
    </div>
  </div>
  <div class="card" style="width: 35rem; padding: 25px; font-size: 19px;">
    <div class="card-img-container">
      <img src="static\img\cooking.jpg" class="rounded-md centered-img" alt="cooking">
    </div>
    <div class="card-body card-bottom">
      <h4 class="card-title text-center"><strong style="font-weight: 500;">Cooking</strong></h4>
      <p class="card-text">I like to cook for myself, even if it's a really basic meal. I experiment with different flavors and cuisines - I'm not the best cook, but I can definitely make something out of whatever I have in my fridge.</p>
    </div>
  </div>
</div>

{% endblock %}