{% extends "template.html" %} {% block content %}


<div>
  <h1 class="hello-text">Hey, I'm Priya Hariharan!</h1>
  <p class="hello-description">An aspiring <span style="font-weight: bold;">full-stack</span> developer with a passion
    for creating projects that people depend on.</p>
</div>
<div class="arrow-container" style="margin-bottom: -1em;">
  <a href="#about" class="arrow-link" style="text-decoration: none; font-weight: normal;">
    <span class="arrow-down mb-4">&#x2193;</span>
  </a>
</div>
<div id="about" class="mt-4 mr-2 ml-2 about-section">
  <h1 class="about-title"><strong>About Me</strong></h1>
  <hr class="custom-hr">
  {% include "about.html" %}
</div>
<div id="projects">
  <h1 class="about-title"><strong>Projects</strong></h1>
  <hr class="custom-hr">
  {% include "project.html" %}
</div>
<div id="work">
  <h1 class="about-title"><strong>Work Experience</strong></h1>
  <hr class="custom-hr">
  {% include "work.html" %}
</div>
<div id="hobby">
  <h1 class="about-title"><strong>Hobbies</strong></h1>
  <hr class="custom-hr">
  {% include "hobbies.html" %}
</div>
<div id="contact">
  <h1 class="about-title"><strong>Contact Me</strong></h1>
  <hr class="custom-hr">
  <div class="row mt-5 ml-3 mr-3"></div>
  <p class="timeline-p text-center">Feel free to send me an email with your questions using the form down below!</p>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center" style="margin-bottom: 1.5em;"><strong>Please enter the following: </strong>
          </h3>
          <p class="card-text">
          <form id="contact-form" method="post" action="/contact">
            <div class="form-group mt-3">
              <input class="form-control custom-input" type="text" name="name" placeholder="Name" required>
            </div>
            <div class="form-group mt-3 mb-2">
              <input class="form-control custom-input" type="email" name="recipient_email" placeholder="Email" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control custom-input" name="message" placeholder="Message" required></textarea>
            </div>
            <button type="submit" class="btn btn-dark mt-1">Send Message</button>
          </form>
          </p>
        </div>
      </div>
      <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header custom-modal-header">
              <h5 class="modal-title" id="successModalLabel">Success!</h5>
              <button type="button" class="btn-close" aria-label="Close">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body custom-modal-body">
              Thank you for filling out the form!
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const contactForm = document.getElementById("contact-form");
        const successModal = new bootstrap.Modal(document.getElementById("successModal"));

        contactForm.addEventListener("submit", function (event) {
          event.preventDefault();

          // Get form data
          const formData = new FormData(contactForm);

          // Perform AJAX POST request
          fetch("/contact", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.text())
            .then((data) => {
              // Show success modal
              successModal.show();

              // Get the modal element
              const modal = document.getElementById("successModal");

              // Get the close button element
              const closeButton = modal.querySelector(".btn-close");

              // When the user clicks on the close button (X), close the modal
              closeButton.addEventListener("click", function () {
                successModal.hide();
              });

              // When the user clicks anywhere outside of the modal, close it
              window.addEventListener("click", function (event) {
                if (event.target === modal) {
                  successModal.hide();
                }
              });

              // Clear form
              contactForm.reset();

              // Hide success modal after a delay
              setTimeout(function () {
                successModal.hide();
              }, 3000);
            })
            .catch((error) => {
              console.error("Error sending message:", error);
            });
        });
      });
    </script>

{% endblock %}